.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-main{
  width:auto;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.deleteButton {
  padding: 10px;
  font-size: 20px;
  color: red;
}